<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>View Modules</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Theme/assets/img/favicon.png" rel="icon">
    <link href="~/Theme/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Theme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Theme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Theme/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">20104681PROG6212</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    </header><!-- End Header -->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Set Semester Period</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Sign Up</a></li>
                    <li class="breadcrumb-item active">Set Semester Period</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <!-- Floating Labels Form -->
                            @using (Html.BeginForm("SetSemester", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <form class="row g-3">
                                    <div class="col-md-6">
                                        <div class="md-form md-outline input-with-post-icon datepicker">
                                            <input placeholder="Select date" type="date" id="datePicker" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div>
                                            <label for="semesterRange" class="form-label">Weeks in semester</label>
                                            <input type="range" value="1" min="1" max="25" oninput="this.nextElementSibling.value = this.value" name="semRange" id="semRange" data-bs-toggle="tooltip" data-bs-placement="top" title="The number of weeks within the semester">
                                            <output>1</output>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group has-validation">
                                            <input type="hidden" id="dateValue" name="dateValue" value="3487">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" onclick="myFunction()">Submit</button>
                                    </div>
                                </form><!-- End floating Labels Form -->
                            }
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Theme/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Theme/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Theme/assets/vendor/quill/quill.min.js"></script>
    <script src="~/Theme/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Theme/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Theme/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/Theme/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Theme/assets/vendor/echarts/echarts.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Theme/assets/js/main.js"></script>

    <script>
        function myFunction() {
            document.getElementById("dateValue").value = document.getElementById("datePicker").value;
        }
    </script>

</body>

</html>